body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f4f4f4;
}

h2 {
  margin-top: 20px;
}

textarea {
  width: 80%;
  height: 300px;
  padding: 10px;
  font-size: 16px;
}
